<div class="flex items-center"
  data-controller="message-input"
>
  <button class="p-1">
    <%= lucide_icon('plus', class: 'w-5 h-5') %>
  </button>

  <%= form_with(
    model: Chat::TextMessage.new,
    scope: :message,
    url: chat_messages_path(chat),
    html: {
      class: "flex-1 flex items-center",
      turbo_stream: true,
      data: { message_input_target: 'form' }
    }
  ) do |f| %>
    <div class="flex-1 mx-2 bg-gray-800 rounded-full">
      <%= f.hidden_field :type, value: 'text' %>
      <%= f.text_field :text,
       placeholder: 'Say something...',
       autocomplete: 'off',
       class: 'input input-sm w-full rounded-full bg-transparent border-0 text-white ',
       data: {
         message_input_target: 'input',
         turbo_stream: true
       }
      %>
    </div>
    <%= button_tag(
      type: :button,
      class: "btn btn-circle btn-sm p-1 hover:scale-110 transition-transform duration-200",
      data: {
        message_input_target: 'send',
        action: 'message-input#submit'
      }
    ) do %>
      <%= lucide_icon('send', class: 'w-5 h-5') %>
    <% end %>
  <% end %>
</div>
