<div class="bg-base-100 text-white min-h-screen-safe w-screen flex flex-col mb-4">
  <!-- Full screen carousel with basic infocs -->
  <div class="relative h-screen-safe w-screen flex flex-col">
    <!-- Profile picture -->
    <% if @profile.picture.attached? %>
      <%= image_tag @profile.picture, class: 'w-full h-full object-cover grow' %>
    <% else %>
      <div class="grow bg-gradient-to-br from-secondary/20
                  to-primary/20 flex items-center justify-center">
        <%= lucide_icon('user', class: 'w-8 h-8 text-secondary') %>
      </div>
    <% end %>

    <!-- Profile title, age & distance, CTA -->
    <div class="grow-0 w-full flex flex-col bg-base-100/50 px-4 pt-6 pb-2">
      <div class="flex items-top justify-between">
        <h1 class="text-2xl font-bold text-white">
          <span><%= @profile.title.presence %></span>
          <span class="ml-2 text-slate-300 font-sm"><%= @profile.age %></span>
        </h1>

        <div class="text-neutral-content">
          <% unless @profile.hide_distance? %>
            <%= format_distance(@distance) %>
          <% end %>
        </div>
      </div>

      <!-- Online or not -->
      <div>
        <% if @profile.active? %>
          <span class="text-success"> Online now </span>
        <% else %>
          <span class="text-neutral-content">
            Online <%= time_ago_in_words @profile.updated_at %> ago
          </span>
        <% end %>
      </div>

      <!-- Chat CTA -->
      <div class="mt-6 w-full flex items-center gap-2">
        <% if @profile == current_profile %>
          <a href="<%= edit_profile_path(current_profile) %>"
            class="btn btn-block">
            Edit your profile
          </a>
        <% else %>
        <a href="<%= profile_chats_path(@profile) %>"
          data-turbo-method="post"
          class="grow text-slate-300 rounded-full p-3 px-4 bg-gray-800
                 text-neutral-content truncate">
          Say something nice...
        </a>
        <a href="#" class="text-slate-300 rounded-full p-2 bg-gray-800">
          <%= lucide_icon :flame, class: 'w-9 h-9'  %>
        </a>
        <a href="<%= profile_chats_path(@profile) %>"
          data-turbo-method="post"
          class="text-slate-300 rounded-full p-2 bg-slate-800">
          <%= lucide_icon 'message-circle', class: 'w-9 h-9'  %>
        </a>
        <% end %>
      </div>
    </div>

    <!-- Top navigation bar with buttons -->
    <div class="absolute top-4 left-0 right-0 px-4 flex justify-between items-center">
      <a href="<%= profiles_path %>"
        class="btn btn-circle bg-base-100/85 hover:bg-base-100 border-0">
        <%= lucide_icon('arrow-left', class: 'w-6 h-6') %>
      </a>

      <div class="flex gap-2">
        <button class="btn btn-circle bg-base-100/85 hover:bg-base-100 border-0">
          <%= lucide_icon('star', class: 'w-6 h-6') %>
        </button>
        <button class="btn btn-circle bg-base-100/85 hover:bg-base-100 border-0">
          <%= lucide_icon('more-horizontal', class: 'w-6 h-6') %>
        </button>
      </div>
    </div>
  </div>

  <!-- Profile section -->
  <div class="px-4 py-6">
    <div class="text-neutral-content flex flex-wrap">
      <%= @profile.bio %>
    </div>
  </div>

  <!-- Attributes section -->
  <div class="text-gray-200">
    <table class="table table-sm md:table-md>
      <thead></thead>
      <tbody>
        <% %i[weight height].each do |name| %>
          <% if @profile.send(name).present? && !@profile.send("hide_#{name}") %>
            <tr class="text-lg">
              <td class="font-accent font-light">
                <%= Profile.human_attribute_name(name) %>
              </td>
              <td>
                <%= send "format_attr_#{name}", @profile.send(name) %>
              </td>
            </tr>
          <% end %>
        <% end %>

        <% %i[position body gender relationship].each do |name| %>
          <% unless @profile.send("#{name}_unknown?") %>
            <tr class="text-lg">
              <td class="font-accent font-light">
                <%= Profile.human_attribute_name(name) %>
              </td>
              <td>
                <%= send "format_attr_#{name}", @profile.send(name) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>


</div>
